version: '2'

volumes:
  www:

services:

  postgres:
    image: adamlarsonlee/tasqr-db:latest@sha256:9430c66c700dce47c0eb3cc471a630c41586e27f16d5400d507b0fc942e34ec4
    expose:
      - '5431'

  nestjs:
    image: adamlarsonlee/tasqr-api:latest@sha256:0b397bfdbdd7e78fa3d405b270dd99624d15a89a32687fda2bff46ed0e7b8216
    expose:
      - '3000'
  
  angular:
    image: adamlarsonlee/tasqr-app:latest@sha256:0ba0d20a7ca761329fad5fe3b4a5bc6b980bae200f6ddfded3aee12bd9b5b867
    expose:
      - '4200'
    volumes:
      - 'www:/www'

  nginx:
    image: adamlarsonlee/tasqr-proxy:latest@sha256:db1b9766532e31547d942674fb50925240cc3da27cd85b092ca78ee6c91ae011
    ports:
      - '80:80'
    volumes:
      - 'www:/www'